@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

.padreFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.hijoFlex {
  width: 250px;
  height: 250px;
}

.hijoFlex a {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.inBl {
  display: flex;
  align-items: flex-end;
}

.hijoRebelde {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.hovgrey, .phone, .tobi, .anillo, .pulsera, .collar {
  transition: all 0.2s;
}
.hovgrey:hover, .phone:hover, .tobi:hover, .anillo:hover, .pulsera:hover, .collar:hover {
  filter: grayscale(80%);
}

.collar {
  background-image: url("../img/prinCollar.jpg");
}

.pulsera {
  background-image: url("../img/prinPulse.jpg");
}

.anillo {
  background-image: url("../img/prinAnillos.jpg");
}

.tobi {
  background-image: url("../img/prinTobi.jpg");
}

.phone {
  background-image: url("../img/prinphone.jpg");
}

.estiloProd {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 250px;
  height: 250px;
  color: white;
}

.basic {
  background-size: cover;
  border: 1px solid black;
  background-position: center;
}

.ig {
  padding: 5px;
  width: 40px;
}

.imgCard {
  width: 100%;
  text-align: center;
}

.tituloProductos {
  background-color: #c1101a;
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 16px;
}

.estProductos {
  font-size: 1.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-bottom: 0px;
  background-color: white;
}

.estiloCard, .cienPor {
  padding: 0px;
  margin: 0px;
}

.cienPor {
  width: 100%;
}

.paddinCero {
  padding: 0px;
}

.rowModificator {
  margin-left: 0px;
  margin-right: 0px;
  border-radius: none;
}

.marginFooter {
  margin: 0px 0px 0px;
}

.textArea {
  height: 120px;
}

.tam {
  width: 50px;
}

.boton {
  color: white;
  background-color: rgb(85, 81, 81);
  border: none;
  padding: 4px 6px;
  transition: all 0.7s;
  border-radius: 6px;
}
.boton:hover {
  color: rgb(85, 81, 81);
  background-color: white;
  border: solid 1px rgb(85, 81, 81);
  width: 125px;
  height: 30px;
}

.botCu:hover {
  width: 70px;
  height: 30px;
}

.botCup:hover {
  width: 100px;
  height: 30px;
}

.botonS {
  color: black;
  border: 1px solid black;
  transition: all 0.5s;
}
.botonS:hover {
  color: white;
  background-color: black;
  border: solid 1px black;
}

.borderItems {
  border: 1px solid black;
  border-top: none;
}

.contenedor {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.logo {
  width: 150px;
}

.lupa {
  width: 30px;
}

.backPink {
  background-color: #fed2da;
  border: none;
}

.estiloTitulo {
  color: white;
  background-color: black;
  border: none;
  height: 35px;
  padding: 5px;
}

.backImage {
  background-image: url("../img/imgmaindesktop.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
}

.bolderText {
  font-family: "Playfair Display", serif;
  color: black;
}

.estProd {
  color: black;
  background-color: white;
  border: none;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 22px;
}

.pointer {
  cursor: pointer;
}

.borderTop {
  border-top: 1px solid black;
}

.plata {
  font-weight: bold;
  color: black;
}

.imgHist {
  height: 18rem;
  border-radius: 4px;
  padding: 5px;
}

.fontS {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
}

.subt {
  font-size: 19px;
  font-weight: bolder;
  color: black;
}

.cajaCuenta {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: auto;
  border: 1px solid black;
  padding: 12px;
  border-radius: 6px;
}

.titulo {
  font-weight: bold;
}

.ruta {
  display: flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  align-content: center;
  margin: 5px 0px 5px 5px;
}
.ruta a {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 5px;
  cursor: pointer;
  color: black;
}
.ruta p {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 5px;
  font-weight: bold;
  margin-bottom: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fed2da;
  font-size: 18px;
}

@media (min-width: 992px) {
  .barraNone {
    display: none;
  }
  .gorda {
    width: auto;
    align-items: end;
  }
  .botonLargo {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
  }
}

/*# sourceMappingURL=estilos.css.map */
