.cajaCuenta {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: auto;
    border: $border-bas;
    padding: 12px;
    border-radius: 6px;
    
}
.titulo {
    font-weight: bold;
}
