
@mixin flexItems($dis, $wrap, $jusCon, $aliIt, $aliCon) {
    display: $dis;
    flex-wrap: $wrap;
    justify-content: $jusCon;
    align-items: $aliIt;
    align-content: $aliCon;
}

.padreFlex {
    @include flexItems(flex, wrap, center, center, center);
    width: 100%;
    
}

.hijoFlex {
    width: 250px;
    height: 250px;

}

.hijoFlex {
    a {
        color: black;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.inBl {
    display: flex;
    align-items: flex-end
}

.hijoRebelde {
    @include flexItems(flex, wrap, center, center, center);

}