.imgHist {
    height: 18rem;
    border-radius: 4px;
    padding: 5px;
}

.fontS {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}

.subt {
    font-size: 19px;
    font-weight: bolder;
    color: black;
}

.corazonesCentro {
    ul {
        @include flexItems(flex, wrap, space-around, center, center);
        margin: 0;
        padding: 0;
        padding-top: 20px;

        li {
            list-style-type: none;

            img {
                height: 120px;
            }

            p {
                margin-top: 10px;
                color: black;
                font-family: 'Merriweather', serif;
            }

        }

    }

}


.cajaInfo {
    height: 50px;
    width: 40px;
}