@media (min-width: 992px) {
    .gorda {
        width: auto;
        align-items: end;
    }

    .botonLargo {
        width: auto;
        @include flexItems(flex, wrap, flex-end, flex-end, flex-end);
    }

    .altoAncho {
        height: 400px;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .mobileWidth {
        width: 100%;
        padding-top: 20px;
    }
}