@media (min-width: 992px) {
    .barraNone {
        display: none;
    }
    
    .gorda {
        width: auto;
        align-items: end;
    }

    .botonLargo {
        width: auto;
        @include flexItems(flex, wrap, flex-end, flex-end, flex-end);
    }
}