@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
}

@import "variables";
@import "flex";

@import "menu-productos";

@import "ajustes";

@import "botones";
@import "header";
@import "footer";
@import "info";
@import "animaciones";
@import "seo";

body {
    font-family: 'Merriweather', serif;
    background-color: $fondo-ro;
    font-size: 15px;
}

@import "mediaquerie";